.image-logo {
  height: 64px;
  width: auto;
  margin-top: 20%; /* 48px */
  margin-bottom: 48px;
}

@media screen and (min-height: 768px) {
  .image-logo {
    margin-top: 30%; /* 120px */
  }
}

@media screen and (max-height: 568px) {
  .image-logo {
    margin-top: 32px;
    margin-bottom: 24px;
  }
}

/* NOT WORKING AS OF NOW */
/* ion-loading.app-loading-indicator-main {
  --spinner-color: var(--ion-color-primary);
  --height: 30px;
  --width: 30px;
}

ion-loading.app-loading-indicator .loading-wrapper.sc-ion-loading-md {
  border-radius: 100%;
}

ion-loading.app-loading-indicator .loading-wrapper .loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* FOR SIGN UP PAGE */

/* Popover Interface: set color for the popover using Item's CSS variables */
.app-select-blood-group .select-interface-option {
  --color: var(--ion-color-app-blood-color);
  /* --color-hover: #79193b; */
}

/* Action Sheet Interface: set color for the action sheet using its button CSS variables */
.app-select-blood-group .select-interface-option {
  --button-color: var(--ion-color-app-blood-color);
  /* --button-color-hover: #79193b; */
}

/* Alert Interface: set color for alert options (single selection) */
.app-select-blood-group .select-interface-option .alert-radio-label {
  color: var(--ion-color-app-blood-color);
}

/* Alert Interface: set color for alert options (multiple selection) */
.app-select-blood-group .select-interface-option .alert-checkbox-label {
  color: var(--ion-color-app-blood-color);
}

/* Alert Interface: set color for checked alert options (single selection) */
.app-select-blood-group
  .select-interface-option[aria-checked="true"]
  .alert-radio-label {
  color: var(--ion-color-app-blood-color);
}

/* .alert-title.sc-ion-alert-md,
.alert-title.sc-ion-alert-ios {
  color: var(--ion-color-app-blood-color);
} */

.alert-radio-inner.sc-ion-alert-md {
  background-color: var(--ion-color-app-blood-color);
}

[aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md
/* ,[aria-checked="true"].sc-ion-alert-ios .alert-radio-inner.sc-ion-alert-ios*/ {
  border-color: var(--ion-color-app-blood-color);
}

/* .select-text::part(text) {
  color: var(--ion-color-app-blood-color);
} */
